torch>=2.0.0
transformers[torch]>=4.30.0
datasets>=2.14.0
evaluate>=0.4.0
sacrebleu>=2.3.0
rouge-score>=0.1.2
py7zr>=0.7.0
pandas>=1.5.0
nltk>=3.8.0
tqdm>=4.65.0
PyYAML>=6.0
matplotlib>=3.7.0
notebook>=6.5.0
boto3>=1.26.0
mypy-boto3-s3>=1.26.0
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2